<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.obrassard.inquirio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBRL-StZql-y3WrTrrEX-6vFUDaU-2E5bg" />

        <activity android:name=".activities.LoginHomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.LoginHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginHomeActivity" />
        </activity>
        <activity
            android:name=".activities.SignupActivity"
            android:parentActivityName=".activities.LoginHomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginHomeActivity" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.MyItemsActivity"
            android:label="@string/title_activity_my_items"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.obrassard.inquirio.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ItemsDetailActivity"
            android:label="@string/title_activity_items_detail"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.obrassard.inquirio.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.obrassard.inquirio.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.NotificationsActivity"
            android:label="@string/title_activity_notifications"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.obrassard.inquirio.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AccountActivity"
            android:label="@string/title_activity_account"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.obrassard.inquirio.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MapDetail"
            android:label="@string/title_activity_map_detail"
            android:parentActivityName=".activities.ItemsDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.obrassard.inquirio.activities.ItemsDetailActivity" />
        </activity>
        <activity
            android:name=".activities.ItemFoundActivity"
            android:label="@string/title_activity_item_found"
            android:parentActivityName=".activities.ItemsDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.obrassard.inquirio.activities.ItemsDetailActivity" />
        </activity>
        <activity
            android:name=".activities.NotificationDetailsActivity"
            android:label="@string/title_activity_notification_details"
            android:parentActivityName=".activities.NotificationsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.obrassard.inquirio.activities.NotificationsActivity" />
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ca.obrassard.inquirio.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest><!--
<intent-filter>
    <action android:name="android.intent.action.MAIN" />
    <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
-->
